@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}
html,
body {
    min-height: 100vh;
    overflow-x: hidden;
}

@layer base {
    h1 {
        @apply text-2xl font-bold;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}
@layer components {
    .tooltip-arrow {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-bottom: 10px solid black;
        border-right: 10px solid black;
    }
}
@layer utilities {
    .center {
        @apply flex items-center justify-center;
    }
}
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-secondary-focus bg-opacity-70 dark:bg-dark__accent/50 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-focus;
}
